
/* Body start */

body {
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #390277;
	color: #eee8e8;
	font-size: 28px;
}

/* Body end */

/* Navigation bar start */

.nav-bar {
	display: flex;
	padding: 26px 264px;
	justify-content: center;
	align-items: baseline;
}

.nav-links {
	margin-left: auto;
}

.nav-link-two,
.nav-link-three {
	margin-left: 24px;
}

a {
	font-size: 18px;
	color: #E5E7EB;
	text-decoration: none;
}

.home-page {
	font-size: 24px;
	color: #F9FAF8;
}

/* Navigation bar end */

/* Main content start */

.main-content {
	margin-top: 8px;
	display: flex;
	justify-content: center;
	padding: 100px 264px;
}

.heading-info {
	margin-right: 32px;
}

.main-header {
	font-size: 48px;
}

.subheader {
	font-size: 20px;
}

.sign-up {
	border-radius: 12px;
	font-size: 18px;
	background-color: #a70000;
	color: #eee8e8;
	font-weight: bold;
	padding: 8px 24px;
}

iframe {
	flex: none;
}

/* Main content end */

/* Hitlist start */

.body-list {
	display: flex;
	flex-direction: column;
	background-color: #eee8e8;
	color: #000000;
}

.hitlist-header,
.text.subheadder {
	text-align: center;
}

.hitlist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
	padding: 8px 264px;
}

.hitlist-box {
	border-radius: 8px;
	border-color: #ECBE07;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 350px;
	font-size: 24px;
	padding: 16px;
	margin: 16px;
}

/* Hitlist end */

/* Quote start */

.quote {
	display: flex;
	justify-content: center;
	background-color: #604c4c;
	padding: 16px 264px;
}

.quote-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Quote end */

/* End start */

.end {
	background-color: #eee8e8;
	display: flex;
	justify-content: center;
	padding: 16px 264px;
}

.cta {
	display: flex;
	align-items: center;
	background-color: #390277;
	border-radius: 10px;
	padding: 32px 100px;
	gap: 16px;
}

.cta-test {
	display: flex;
	flex-direction: column;
}

.sign-up-bot {
	background-color: #390277;
	border-color: #eee8e8;
	color: #eee8e8;
	border-radius: 12px;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 24px;
}

/* End end */

/* Footer start */

.footer {
	display: flex;
	justify-content: center;
	background-color: #eee8e8;
	color: #000000;
	padding: 16px;
	font-size: 18px;
}

/* Footer end */
